* { margin: 0; padding: 0; }
.nosmoothing {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimze-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
